.Header {}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 15%;
    border-radius: 10px;
    width: 95%;
    left: 2.5%;
    height: 6%;
    background-color: rgba(232, 251, 216, 0.3);
}